.pageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.pageHeader {
		font-size: 2.4rem;
		text-align: center;
		font-weight: 700;
	}
	.forgotPasswordLink {
		cursor: pointer;
		color: #00cc66;
		font-weight: 600;
		text-align: right;
	}
	.signInBar {
		margin-top: 3rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: inherit;
		.signInText {
			font-size: 1.5rem;
			font-weight: 700;
		}
		.signInButton {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3rem;
			height: 3rem;
			background-color: #00cc66;
			border-radius: 50%;
		}
	}
}
